.form-container {
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 86, 233);
    height: 70px;
    padding: 0;
        margin: 0;
}

.search-input {
    
    width: 300px;
    height: 30px;
}

.search-button {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-top: 20px;
}

.photo-card {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: calc((100% - 30px) / 4);
}

img {
    display: block;
    width: 100%;
    height: 320px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    
}
.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.info-item-text {
    font-weight: 400;
}



.message {
    text-align: center;
}

.load-more {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(86, 86, 233);
    border: none;
    cursor: pointer;
}

.load-more-text {
    color: aliceblue;
}

.is-hidden {
    display: none;
}